<!DOCTYPE html>
<html>

  <head>
    <title>Thank You</title>
  </head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Mr+De+Haviland|Open+Sans+Condensed:300" rel="stylesheet">
<style>
  
    body {
      font-family: 'Open Sans Condensed', sans-serif;
      background-color: rgb(209, 104, 14);
    }

    .text {
      margin-top: 100px;
      margin-left: 25px;
      margin-right: 25px;
      height: 50%;
      font-size: 32px;
      text-align: center;
     color: white;
    }

    a:hover {
      color: black;
    }

  
  </style> 
<body>
     <div class="text"><p>Thank you <%= index.name %>.   I will be in contact with you soon!</p>
      <a href="#contact">Back to Portfolio</a>

    </div>

  </body>
</html>